.env
/data
/temp
/ai_agent_sim/backend/routes/__pycache__
/ai_agent_sim/backend/venv
/src/__pycache__
/venv
/ai_agent_sim/node_modules
/ai_agent_sim/backend/__pycache__
/ai_agent_sim/.manus-logs
/ai_agent_sim/.manus-logs
/src/__pycache__
/src/.pt_tmp
/src/lightning_logs
/notebooks/reddit/__pycache__
/notebooks/moltbook/__pycache__
**/__pycache__/
models/
ai_agent_sim/package-lock.json
/src/__pycache__
