streamlit
plotly
pandas
numpy
pyarrow
datasets
polars
scikit-learn
torch
transformers
nltk
textstat
sentence-transformers
bertopic
vaderSentiment
matplotlib
seaborn
joblib
pytorch-tabnet
tqdm
scipy
python-dotenv
autogluon
fastapi
uvicorn
python-multipart
pydantic
sqlalchemy
pymysql
openai
